@import "./variables.scss";

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient($fundo-escuro, $fundo-claro);
    box-sizing: border-box;
    font-family: sans-serif;
    color: $cor-do-texto;
}

body::-webkit-scrollbar{
    width: 4px;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: $fundo-escuro;
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-track{
    background: linear-gradient($fundo-claro, $fundo-escuro, $fundo-claro);
  }